<launch>
  <!-- Define robot IP parameters -->
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="arm_id" default="fr3"/>

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find franka_description)/robots/fr3/fr3.urdf.xacro' arm_id:=$(arg arm_id)"/>

  <!-- Start robot state publisher -->
  <node name="robot_state" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Connect to Franka robot -->
  <node name="franka_control_node" pkg="franka_control" type="franka_control_node" output="screen">
    <param name="robot_ip" value="$(arg robot_ip)"/>
    <param name="robot_state_topic" value="/franka_ros_interface/franka_state_controller/franka_states"/>
  </node>

  <!-- Start franka_gripper node -->
  <node name="franka_gripper_node" pkg="franka_gripper" type="franka_gripper_node" output="screen">
    <param name="robot_ip" value="$(arg robot_ip)"/>
  </node>

  <!-- Start MoveIt! -->
  <include file="$(find panda_moveit_config)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <!-- Start custom node to control the robot -->
  <node name="franka_execute" pkg="franka_execute" type="franka_execute" output="screen"/>
</launch>
